In [49]:
# Ejercicio 1 

T1 = ["Enero","Febrero","Marzo"]
T2 = ["Abril","Mayo","Junio"]
T3 = ["Julio","Agosto","Septiembre"]
T4 = ["Octubre","Noviembre","Diciembre"]

Meses = [T1,T2,T3,T4]
Meses

[['Enero', 'Febrero', 'Marzo'],
 ['Abril', 'Mayo', 'Junio'],
 ['Julio', 'Agosto', 'Septiembre'],
 ['Octubre', 'Noviembre', 'Diciembre']]

In [97]:
# Ejercicio 2

print (Meses[0][1])
print (Meses[0])
print (Meses[2][2],Meses[3][0])

Febrero
['Enero', 'Febrero', 'Marzo']
Septiembre Octubre

In [25]:
# Ejercicio 3

num=[1, 5, 8, 4, 0, 3, 6, 12, 16, 19, 34, 38, 25, 22, 15, 27, 3, 44, 48, 49]
print(num)

[1, 5, 8, 4, 0, 3, 6, 12, 16, 19, 34, 38, 25, 22, 15, 27, 3, 44, 48, 49]

In [26]:
#¿Cuántos números hay?
print("Hay", len(num), "numeros.")

Hay 20 numeros.

In [27]:
# Cuántas veces aparece el número 3.
print("El numero 3 aparece", num.count(3), "veces")

El numero 3 aparece 2 veces

In [28]:
#¿Cuántas veces aparecen los números 3 y 4?
num.count(3)
num.count(4)
print("El numero 3 aparece {} veces.".format(num.count(3)))
print("El numero 4 aparece {} veces.".format(num.count(4)))
print("Los numeros 3 y 4 aparecen", (num.count(3)+ num.count(4)), "veces")

El numero 3 aparece 2 veces.
El numero 4 aparece 1 veces.
Los numeros 3 y 4 aparecen 3 veces

In [29]:
# ¿Cuál es el mayor número?
print("El mayor numero es ", max(num))

El mayor numero es  49

In [30]:
import heapq

In [31]:
#¿Cuáles son los 3 números más pequeños?
print("Los tres numeros mas grandes son ",(heapq.nlargest(3,num)))
print("Los tres numeros mas pequeños son ",(heapq.nsmallest(3,num)))

Los tres numeros mas grandes son  [49, 48, 44]
Los tres numeros mas pequeños son  [0, 1, 3]

In [32]:
#¿Cuál es el rango de esa lista?
print (max(num)-min(num)) 
range (49)

49

range(0, 49)

In [2]:
# Ejercicio 4
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}}

In [3]:
compra["Uvas"]={'Qty': 4, '€': 1.34}

In [19]:
(compra)

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Uvas': {'Qty': 4, '€': 1.34}}

In [61]:
print("El costo de las Peres es: ",compra["Peres"]["Qty"]*compra["Peres"]["€"])

El costo de las Peres es:  1.98

In [60]:
total = sum(compra[fruta]["Qty"] for fruta in compra)
print("El total de frutas es: ", total)

El total de frutas es:  12

In [58]:
fruta_mas_costosa = None
precio_mas_alto = 0

for fruta, info in compra.items():
    precio_fruta = info['€']
    if precio_fruta > precio_mas_alto:
        precio_mas_alto = precio_fruta
        fruta_mas_costosa = fruta

if fruta_mas_costosa:
    print(f"La fruta más costosa es {fruta_mas_costosa} con un precio de €{precio_mas_alto:.2f}")

La fruta más costosa es Uvas con un precio de €1.34